
body {
    
    background-color: #f1d5d5;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 100"><rect width="100" height="100" fill="#000000"/><circle cx="10" cy="15" r="0.1" fill="white"/><circle cx="55" cy="80" r="0.2" fill="white"/><circle cx="90" cy="30" r="0.15" fill="white"/><circle cx="25" cy="70" r="0.3" fill="white"/><circle cx="70" cy="10" r="0.25" fill="white"/><circle cx="5" cy="50" r="0.1" fill="white"/><circle cx="85" cy="55" r="0.2" fill="white"/></svg>');
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#logo {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.heading1 {
    font-family: 'Arial Black', sans-serif; 
    font-size: 30px;
    letter-spacing: 2px;
    color: rgb(163, 154, 154);
}
.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search {
    width: 400px; 
    padding: 10px;
    border-radius: 20px;

    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 30px;
}
.maincontainer {
    height: auto;
    background-color: #70757a; 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 80%; 
    max-width: 600px;
}
.phrase-block {
    height: 150px;  
    flex-direction: column;
    justify-content: space-between; 
     align-items: center;
    background-color: #9aa0a6; 
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: left;
    position: relative;

}
.phindi{
    font-size: 20px;
    color: rgb(2, 2, 2);      
     
} 
.penglish{  font-size: 20px;
    color: rgb(2, 2, 2); 
    padding: relative;
    top: 50px;
       
 }
.speakerhindi {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin-left: 15px;
    position:absolute;
    top : 35px;
left: 550px;
}
.speakereng{ border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin-left: 15px;
    position:absolute;
    top : 70px;
left: 550px;
}
.speakerimg {
    width: 20px; 
    height: 20px;
    display: block;
     position:absolute;
} 
.searchimg{
     width: 20px; 
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    margin-left: -40px;
    position: relative;
    }



